/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";
@import 'https://fonts.googleapis.com/css?family=Lato';

$blue: #27A8E0;
$darkNavy: #29323C;
$lightGray: #EEF2F5;
$regularGray: #8894A0;
$darkGray: #626E7A;

$medium: 700px;

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: $lightGray;
}

section, footer {
  @media(min-width: $medium) {
    @include outer-container;
  }
}

header {
  background-color: $blue;
  color: $darkNavy;
  margin: 0;
  padding: 1em;
}

header h1 {
  @include outer-container;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
}

[class*="module__"] {
}

.module__form {
  input {
    width: 100%;
  }

  @media(min-width: $medium) {
    @include span-columns(8);
    @include shift(2);
  }
}

.project-list {
  list-style-type: none;
  list-style: none;
  padding: 0;

  @media(min-width: $medium) {
    margin: 1em;
  }
}

.project-list .project:first-of-type {
  border-top: solid 1px $darkGray;
}

.project-list .project {
  @include span-columns(12);
  background-color: white;
  border-bottom: solid 1px $darkGray;
  padding: 1em;

  @media(min-width: $medium) {
    @include span-columns(4);
    @include omega(3n);
    border-radius: 5px;
    border: solid 1px $darkGray;
    margin-bottom: 20px;
  };
}

.project-list .project-description {
  color: $darkNavy;
  font-size: 2em;
  text-align: center;
}

.project {
  height: 200px;
}
